.input-field {
  background-color: #8db8e4;
  padding: 1rem;
  margin: 2rem auto;
  width: 100%;
  max-width: 95%;
  height: 50px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-field input {
  width: 30%;
}
.input-field button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #184477;
  background-color: #184477;
  color: white;
  border-radius: 6px;
  margin-right: 1rem;
}
.input-field button:hover,
.input-field button:active {
  background-color: #0d60bf;
  border-color: #0d60bf;
}
.input-field label {
  font-size: large;
}
