.notfinished .complete {
  display: none;
}
.finished .not-complete {
  display: none;
}

.notfinished .toDo__block {
  border: solid 2px #c26994;
}
.finished .toDo__block {
  border: solid 2px #8db8e4;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}
.list-wrapper h2 {
  flex-basis: 100%;
}
